<div class="columns">
  <div class="column">First column</div>
  <div class="column"><h1>Find It</h1></div>
  <div class="column">Third column</div>
</div>

<div class="columns">
  <div class="column">First column</div>
  <div class="column">
    <router-outlet></router-outlet>
  </div>
  <div class="column">Third column</div>
</div>

<div class="columns">
  <div class="column">First column</div>
  <div class="column"><p>Copyright 2020 FindIt.com &copy;</p></div>
  <div class="column">Third column</div>
</div>
